Screen {
    background: $surface;
}

#sidebar {
    dock: left;
    width: 25;
    height: 100%;
    background: $panel;
    color: $text;
    border-right: vkey $primary;
}

#sidebar Button {
    width: 100%;
    height: 3;
    border: none;
    background: $panel;
    content-align: left middle;
    padding-left: 2;
}

#sidebar Button:hover {
    background: $primary-darken-2;
}

#sidebar Button.-active {
    background: $primary;
    color: $text;
    text-style: bold;
}

.title {
    content-align: center middle;
    height: 3;
    background: $secondary;
    color: $text;
    text-style: bold;
}

ContentSwitcher {
    padding: 1;
}

DataTable {
    height: 100%;
    border: solid $secondary;
}

.welcome-text {
    text-align: center;
    padding: 2;
}

.section-title {
    text-align: center;
    text-style: bold;
    padding: 1;
    background: $surface-darken-1;
    width: 100%;
}

.reports-container {
    height: 100%;
}

#report_sidebar {
    width: 25;
    height: 100%;
    margin-right: 1;
    border-right: solid $secondary;
}

.report-btn {
    width: 100%;
    margin-bottom: 1;
}

/* New Form Styles */
.toolbar {
    height: 3;
    background: $surface-darken-1;
    margin-bottom: 1;
    align-vertical: middle;
}

.action-btn {
    height: 3;
    width: 20;
    margin-left: 1;
    background: $secondary;
    color: $text;
}

.form-container {
    align: center top;
    padding: 2;
    width: 60%;
    height: auto;
    border: solid $success;
    background: $surface;
}

Input {
    margin-bottom: 1;
    width: 100%;
}

#btn_save_student {
    margin-top: 1;
    width: 100%;
}